h1 {
    text-align: center;
}

.gameContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.gameSect {
    width: 250px;
    height: min-content;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgba(112.520718, 44.062154, 249.437846, .15);
    border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    transition: background-color 0.5s ease;
}

.gameSect:hover {
    background-color: rgba(124, 58, 255, 0.24);
    border: 2px solid rgba(112.520718, 44.062154, 249.437846, .3);
    cursor: pointer;
}

.gameBtn {
    width: 215px;
    margin-top: -4px;
}

.infoBtn {
    width: 100px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
    border-radius: 6px;
    color: #212529;
    display: flex;
    align-items: center;
}

.thumbnail {
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 5px;
}