h1 {
    text-align: center;
}

.padding {
    margin: 8px;
}

#flexbox {
    padding: 8px;
}

.guess-input {
    width: 25%;
    margin-right: 4px;
}

.game-components {
    display: flex;
    text-align: center;
    align-items: center;
}