h1 {
    color:green;
    text-align: center;
}

.onetwothreefour {
    padding: 10px;
    display: flex;
}

.fries {
    width: 50px;
}

.keepthelinkshere {
    display: flex;
    margin-left: 4px;
    justify-content: center;
    align-items: center;
}

.pa {
    display: block;
    padding: 4px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.links {
    display: flex;
}